from pygitai.common.llm.base import LLMBase, ParserBase, PromptLine


# don't forget to add this class to __all__ in llm/__init__.py
# otherwise it won't be loaded


class {{llm_name}}Parser(ParserBase):
    @staticmethod
    def parse_response(response, prompt):
        # To be implemented
        pass

    @staticmethod
    def parse_prompt(input_data):
        # To be implemented
        pass


class {{llm_name}}(LLMBase):
    llm_parser = {{llm_name}}Parser

    @classmethod
    def exec_prompt(cls, prompt, model):
        # To be implemented
        pass
